#subfooter, #main-navigation .sf-menu li li.sfHover>a, #main-navigation ul.menu li a:hover, #header-top ul.menu li a:hover, #header-top .sf-menu li li.sfHover>a,
#header-top ul.menu>li>a.active, #header-top ul.main-menu.menu>li.active-trail>a:hover, #header-top .sf-menu>li.sfHover>a,
.header-top-area .form-text, .footer-area .form-text, .header-top-area select, .footer-area select { background-color: #580F8B; }

.header-top-area table td, .header-top-area table th { border-color: #580F8B; }

#header-top ul.menu li a { border-left: 1px solid #580F8B; }

#header-top ul.menu li:last-child>a { border-right: 1px solid #580F8B; }

a, ul.menu li.collapsed > a:before, ul.menu li.expanded > a:before, .footer-area ul.menu li.active-trail > a:before, ul.pager li.pager-current, 
.item-list ul li.pager-current.last, .node-mt .comment-counter, .comment ul.links li a, .ui-widget-content a, .view-mt-testimonials .views-field-title a,
ul.social-media-info li a:hover i, .ui-widget-content ul.links li a, .item-list ul.quicktabs-tabs > li.active > a, 
.nav-tabs > li.active > a, .item-list ul.quicktabs-tabs > li.active > a:hover, .nav-tabs > li.active > a:hover, .panel-title > a, 
blockquote:after, .view-mt-testimonials .views-field-body p:first-child:after, .node-type-mt-testimonial .field-name-body p:first-child:after, 
.node-mt .post-submitted-info i, .event-info i { color: #580F8B; }

ul.pager li.pager-current, .item-list ul li.pager-current.last { border-bottom: 2px solid #580F8B; }

#footer, ul.links li a, a.more, input[type="submit"], input[type="reset"], input[type="button"], #main-navigation .sf-menu li.sfHover>a, #header-top, 
.view-mt-events .views-field-field-mt-event-date, .page-courses .view-courses .view-content>h3, .page-faculty-staff .view-faculty-staff .view-content>h3, 
.page-students .view-students .view-content>h3, .event-date, .ui-accordion .ui-accordion-header .ui-accordion-header-icon, .flex-direction-nav a, 
.flex-control-paging li a, .subfooter-area .form-text, .subfooter-area select, #block-views-faculty-courses-block h2.title:after, .checkout-buttons .checkout-cancel, 
.checkout-buttons .checkout-back, .checkout-buttons .checkout-cancel:focus, .checkout-buttons .checkout-back:focus { background-color: #580F8B; }

.flex-control-paging li a { border-color: #580F8B; }

#main-navigation .sf-menu ul, #header-top .sf-menu ul { background: rgba(141,54,173,0.95); }

.title-wrapper a, .highlighted-content-wrapper .title a { background-color: rgba(141,54,173,0.90); }

a:hover, a:focus, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .footer-area ul.menu li a:hover, ul.pager li > a:hover, 
#breadcrumb a:hover, .comment ul.links li a:hover, .views-field-title a:hover, .ui-widget-content a:hover, 
ul.members-social-bookmarks li a:hover, .ui-widget-content ul.links li a:hover, .mean-container .meanmenu-reveal.meanclose { color: #a63fcc; }

.footer-area .item-list ul.quicktabs-tabs, .footer-area .nav-tabs, .footer-area .block-views .views-row, .footer-area .block-views .view, ul.pager li > a:hover,
#header-top ul.menu>li>a:hover, #header-top ul.menu>li>a.active, #header-top ul.main-menu.menu>li.active-trail>a:hover, #header-top .sf-menu>li.sfHover>a,
.footer-area .view-courses .more-link a { border-bottom-color: #a63fcc; }

.view-mt-features .views-row:hover .icon, ul.social-bookmarks li a:hover, ul.brands li a:hover, ul.members-social-bookmarks li a:hover,
.item-list ul.quicktabs-tabs > li > a:hover, .nav-tabs > li > a:hover, .footer-area .item-list ul.quicktabs-tabs > li.active > a, 
.footer-area .nav-tabs > li.active > a, .header-top-area ul.social-bookmarks li a:hover, .header-top-area ul.brands li a:hover, 
.footer-area ul.social-bookmarks li a:hover, .footer-area ul.brands li a:hover,
.subfooter-area ul.social-bookmarks li a:hover, .subfooter-area ul.brands li a:hover, .footer-area table td { border-color: #a63fcc; }

ul.links li a:hover, a.more:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
.item-list ul.quicktabs-tabs > li > a:hover, .nav-tabs > li > a:hover, ul.menu li a:hover,
.footer-area ul.menu li a:hover, .field-type-taxonomy-term-reference .field-item a:hover, .panel-heading:hover,
.footer-area .item-list ul.quicktabs-tabs > li.active > a, .footer-area .nav-tabs > li.active > a, 
.footer-area .view-mt-events .views-field-field-mt-event-date, .mean-container .mean-nav ul li a:hover, .mean-container .mean-nav ul li a.mean-expand:hover, 
table th, .checkout-buttons .checkout-cancel:hover, .checkout-buttons .checkout-back:hover { background-color: #a63fcc; }

.title-wrapper a:hover, .highlighted-content-wrapper .title a:hover { background-color: rgba(166,63,204,0.90); }

/*resets*/
.header-top-area a { color: #fff; text-decoration: underline; }

.header-top-area a:hover { color: #fff; text-decoration: none; }

#header-top .sf-menu ul li a { border-color: transparent!important; }

#header-top ul.menu>li>a:hover, #header-top ul.menu>li>a.active, #header-top ul.main-menu.menu>li.active-trail>a:hover { border-left: 1px solid transparent; }

#header-top ul.menu li:last-child>a:hover, #header-top ul.menu>li:last-child>a.active, #header-top ul.main-menu.menu>li.active-trail:last-child>a:hover 
{ border-right: 1px solid transparent; }

.header-top-area .block-search .form-actions:after, .footer-area .block-search .form-actions:after, .subfooter-area .block-search .form-actions:after,
.header-top-area .form-actions input, .footer-area .form-actions input, .subfooter-area .form-actions input {
background-color: rgba(0,0,0,0.2)!important; }

ul.menu li > a:hover:before { color: #fff!important; }

.footer-area, .subfooter-area { color: #e1e1e1; }

.footer-area a, .subfooter-area a { color: #ffffff; }

.footer-area a:hover, .subfooter-area a:hover { color: #ffffff; text-decoration: underline; }

.footer-area ul.menu li a, #subfooter ul.menu li a { color: #e1e1e1; }

#subfooter ul.menu li a { border-color: #e1e1e1; text-decoration: none; }

#subfooter ul.menu li a:hover { text-decoration: underline; }

.footer-area ul.menu li a:hover { color: #e1e1e1; text-decoration: none; }

.footer-area ul.menu li > a:before,
.footer-area ul.menu li.active-trail > a:before { color: #e1e1e1!important; }

.node-mt-faculty.node-teaser ul.links li.node-readmore a { background-color: transparent; }

.footer-area .views-field-title a { color: #fff; }

.panel-title > a.collapsed { color: #1e1e1e; }

.footer-area .item-list ul.quicktabs-tabs > li > a, .footer-area .nav-tabs > li > a { text-decoration: none; }

.footer-area .item-list ul.quicktabs-tabs > li.active > a:hover, .footer-area .nav-tabs > li.active > a:hover { color: #fff; }

.header-top-area ul.social-bookmarks li a, .header-top-area ul.brands li a, 
.footer-area ul.social-bookmarks li a, .footer-area ul.brands li a,
.subfooter-area ul.social-bookmarks li a, .subfooter-area ul.brands li a { color: #e1e1e1; }

.header-top-area ul.social-bookmarks li a, .header-top-area ul.brands li a, 
.footer-area ul.social-bookmarks li a, .footer-area ul.brands li a,
.subfooter-area ul.social-bookmarks li a, .subfooter-area ul.brands li a { border-color: #e1e1e1; }

.footer-area blockquote:after,.footer-area .view-mt-testimonials .views-field-body p:first-child:after,
.footer-area .node-type-mt-testimonial .field-name-body p:first-child:after, .subfooter-area blockquote:after, 
.subfooter-area .view-mt-testimonials .views-field-body p:first-child:after, 
.subfooter-area .node-type-mt-testimonial .field-name-body p:first-child:after
{ color: #e1e1e1; }

.footer-area ul.social-media-info li a:hover i, .subfooter-area ul.social-media-info li a:hover i { color: #fff; }

.footer-area table, .header-top-area table, .subfooter-area table { color:#e1e1e1; }

.footer-area ul.social-media-info li a i, .subfooter-area ul.social-media-info li a i, .header-top-area ul.social-media-info li a i { color: #e1e1e1; }

.footer-area h1 a:hover, .footer-area h2 a:hover, .footer-area h3 a:hover, 
.footer-area h4 a:hover, .footer-area h5 a:hover, .footer-area h6 a:hover{ color: #fff; text-decoration: underline; }
